---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?hl=zh-CN&user=fLo1baEAAAAJ}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

Journals
+ **T. Qi**, H. Hui and Y. Song, "[Exploring the Feasible Regulation Region of Building HVAC Systems Within Hygro-Thermal Comfort](https://ieeexplore.ieee.org/abstract/document/11006322)," *IEEE Transactions on Smart Grid*, vol. 16, no. 4, pp. 2926-2939, July 2025.[PDF](taoyiqi.github.io/files/paper1.pdf) 



